body {
    background-color: #353535;
}
.md-tabs{
    background-color: #14151A;
}

.md-nav__list{
    background: transparent;

}

.md-content__inner.md-typeset h1{
    color: #ffc929;
}

.md-content__inner.md-typeset h2{
    color: Red;
}

.md-content__inner.md-typeset p{
    color: White;
}

.md-sidebar.md-sidebar--primary{

}


.md-main{
    background: #1E2129;
}


.md-header, .md-header-nav {
    background-color: #14151A;
    color: #ffffff;
}

.md-header-nav__title, .md-header-nav__button, .md-header-nav__label, .md-content__inner {
    color: #ffffff;
}

.md-content__inner {
    color: #bfecfd;
}

.md-nav__link {
    color: #ffffff;
}

.md-nav__link--active {
    color: #ffffff;
    font-weight: bold;
}

.md-typeset .admonition,
.md-typeset details{
    background: transparent;
}