body {
    background-color: #1E2129;
}
.md-tabs{
    background-color: #14151A;
}

.md-nav__list{
    background: transparent;
}

.md-content__inner.md-typeset h1{
    color: #ffc929;
}

.md-content__inner.md-typeset h2{
    color: darkkhaki;
}

.md-content__inner.md-typeset p{
    color: White;
}

.md-nav--primary .md-nav__title[for=__drawer]{
    color: white;
}

.md-nav--primary .md-nav__title .md-nav__icon:after{
    color: white;
}

.md-nav--primary .md-nav__title~.md-nav__list{
    background-color: #1E2129;
    color: white;
}

.md-sidebar__inner{
    background-color: transparent;
}
label.md-nav__title{
    color: white;
}
div.md-sidebar.md-sidebar--primary{
    color: white;
}

.md-sidebar__scrollwrap{
    background-color: transparent;
}

:root > * {
    --md-code-bg-color: #2e2e2e;
    --md-code-fg-color: White;
    --md-default-bg-color: #1E2129;
}





.md-main{
    background: #1E2129;
}


.md-header, .md-header-nav {
    background-color: #14151A;
    color: #ffffff;
}

.md-nav--primary .md-nav__title[for=__drawer]{
    background-color: #14151A;
    color: white;
}

.md-nav--primary .md-nav__title{
    background-color: #14151A;
    color: white;
}


.md-header-nav__title, .md-header-nav__button, .md-header-nav__label, .md-content__inner {
    color: #ffffff;
}

.md-content__inner {
    color: #bfecfd;
}

.md-nav__link {
    color: #ffffff;
}

.md-nav__link--active {
    color: #ffffff;
    font-weight: bold;
}

.md-typeset .admonition,
.md-typeset details{
    background: transparent;
}